* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1D202B;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;

}

.titulo {
  font-size: 24px;
  padding: 20px 0;
  letter-spacing: 1px;
  line-height:29px;
}

.contenedor-conciertos {}

.card {
  margin: 15px;
  border-radius: 10px;
  min-height: 500px;
  max-width: 400vh;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;

}

.card .textos {
  height: 100%;
  font-size: 40px;
  
}
.card .textos p{
  background-color: #000000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  border:3px solid #1D202B;
  font-weight: 600;
}


.banner {
  border-radius: 10px;
  text-align: center;
  padding: 20px;
justify-content: center;
  display: flex;
}
.banner .boton {
  background: #FFD600;
  display: block;
  width: 50%;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 100px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  margin-top: 20px;

}
.banner .label-banner{
  color: #000000;
  font-weight: 600;
  font-size: 20px;

}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 600px) {}